### Scaling
#### Standardization
 - Standardization is a technique scale all the data under 1 scale 
 - diffrent columns as diffrenet values aslo diffrenet units 
 - some columns are biogger values , some are samll values  
 - so its important to kepp all the values under one scale
 - we have 2 methodrs are there Standardization and Normalization 

 - Standardization we have
-  Z score values varies -3 tp  3

        
<img class="XqHOTb IGEbUc" alt="Z = \frac{x - \mu}{\sigma}" src="https://www.gstatic.com/education/formulas2/553212783/en/z_score.svg" role="img" data-csiid="21" data-atf="0">

### Normalization

-  min max scaler 
- values are ranges from 0 to 1



<img src="https://i.sstatic.net/EuitP.png" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 1058px; height: 79px; margin: 34.5px 0px; width: 353px;" alt="python - Can someone explain to me how MinMaxScaler() works ..." jsname="kn3ccd" aria-hidden="false">

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
visa_df = pd.read_csv(r"C:\Users\SAMAR\PycharmProjects\Naresh IT\Classroom\Python seassons\data files\Visadataset - Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

### Task 
-  setp  1: prevaling wage 
- step 2 calculate the maen 
- step 3 calculate the std
- step 4 calculate the numerator =  step 1 -step 2
- step 5 devied the step 4 with step 3

In [3]:
mean = visa_df["prevailing_wage"].mean()
std = visa_df["prevailing_wage"].std()

num =  visa_df["prevailing_wage"] - mean
lst = num/std
lst

0       -1.398510
1        0.169832
2        0.919060
3        0.169991
4        1.428576
           ...
25475    0.049923
25476    3.876083
25477    1.360253
25478    0.221504
25479   -0.067762
Name: prevailing_wage, Length: 25480, dtype: float64

In [4]:
visa_df["prevailing_wage std"] =  lst
visa_df.loc[:,['prevailing_wage','prevailing_wage std']]

       prevailing_wage  prevailing_wage std
0             592.2029            -1.398510
1           83425.6500             0.169832
2          122996.8600             0.919060
3           83434.0300             0.169991
4          149907.3900             1.428576
...                ...                  ...
25475       77092.5700             0.049923
25476      279174.7900             3.876083
25477      146298.8500             1.360253
25478       86154.7700             0.221504
25479       70876.9100            -0.067762

[25480 rows x 2 columns]

## Task 2
-  comapre the two columns
- get the maximum values of the index the both index should match

Idxmax - idxmin

In [5]:
max = visa_df["prevailing_wage"].idxmax()
min = visa_df["prevailing_wage"].idxmin()

print(max,min)

21077 20575

In [6]:
maxz = visa_df["prevailing_wage std"].idxmax()
minz = visa_df["prevailing_wage std"].idxmin()

print(maxz,minz)

21077 20575

In [7]:
max = visa_df["prevailing_wage"].max()
min = visa_df["prevailing_wage"].min()

maxz = visa_df["prevailing_wage std"].max()
minz = visa_df["prevailing_wage std"].min()

print(max,min)
print(maxz,minz)

319210.27 2.1367
4.634101837909889 -1.4096818992891176

### Standard scaler 
- standard scaler same as Z score but using package
- it is under sklern package

In [8]:
# visa_df = pd.read_csv(r"C:\Users\SAMAR\PycharmProjects\Naresh IT\Classroom\Python seassons\data files\Visadataset - Visadataset.csv")
# visa_df.head(2)

#### Note 
- for data shape error its expection a data frame so double sqaure bracket

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
prevailing_wage_pcg = sc.fit_transform(visa_df[["prevailing_wage"]])  ## for dat shape error give data frame so double sqaure bracket
visa_df["prevailing_wage_pcg"]  = prevailing_wage_pcg
visa_df.loc[:,["prevailing_wage","prevailing_wage std","prevailing_wage_pcg"]]

       prevailing_wage  prevailing_wage std  prevailing_wage_pcg
0             592.2029            -1.398510            -1.398537
1           83425.6500             0.169832             0.169835
2          122996.8600             0.919060             0.919079
3           83434.0300             0.169991             0.169994
4          149907.3900             1.428576             1.428604
...                ...                  ...                  ...
25475       77092.5700             0.049923             0.049924
25476      279174.7900             3.876083             3.876159
25477      146298.8500             1.360253             1.360280
25478       86154.7700             0.221504             0.221509
25479       70876.9100            -0.067762            -0.067763

[25480 rows x 3 columns]

### Normalization

In [10]:
visa_df = pd.read_csv(r"C:\Users\SAMAR\PycharmProjects\Naresh IT\Classroom\Python seassons\data files\Visadataset - Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [11]:
X_max = visa_df["prevailing_wage"].max()
X_min = visa_df["prevailing_wage"].min()
print(X_max,X_min)

319210.27 2.1367

In [12]:
nr = visa_df["prevailing_wage"] -  min
visa_df["prevailing_wage_min_max"]  = nr/(X_max-X_min)
visa_df[["prevailing_wage","prevailing_wage_min_max"]]

       prevailing_wage  prevailing_wage_min_max
0             592.2029                 0.001849
1           83425.6500                 0.261345
2          122996.8600                 0.385312
3           83434.0300                 0.261371
4          149907.3900                 0.469616
...                ...                      ...
25475       77092.5700                 0.241505
25476      279174.7900                 0.874579
25477      146298.8500                 0.458311
25478       86154.7700                 0.269895
25479       70876.9100                 0.222033

[25480 rows x 2 columns]

In [13]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()

prevailing_wage_min_max = mn.fit_transform(visa_df[["prevailing_wage"]])
visa_df["prevailing_wage_min_maxPKG"]  =prevailing_wage_min_max
visa_df.loc[:,["prevailing_wage","prevailing_wage_min_max","prevailing_wage_min_maxPKG"]]

       prevailing_wage  prevailing_wage_min_max  prevailing_wage_min_maxPKG
0             592.2029                 0.001849                    0.001849
1           83425.6500                 0.261345                    0.261345
2          122996.8600                 0.385312                    0.385312
3           83434.0300                 0.261371                    0.261371
4          149907.3900                 0.469616                    0.469616
...                ...                      ...                         ...
25475       77092.5700                 0.241505                    0.241505
25476      279174.7900                 0.874579                    0.874579
25477      146298.8500                 0.458311                    0.458311
25478       86154.7700                 0.269895                    0.269895
25479       70876.9100                 0.222033                    0.222033

[25480 rows x 3 columns]